# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Env
.env
.env.local

# Cloudflare / Wrangler
.wrangler/
.dev.vars

# Node (au cas où tu ajoutes des deps plus tard)
node_modules/
